
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의 레시피는? 시작</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <style>

    </style>
</head>

<body>
    <!-- 회원가입 버튼 -->
    <a href="{% url 'signup' %}" class="signup-btn">회원가입</a>

    <h1>오늘의 레시피는?</h1>
    <div class="login-box">
        <input type="text" placeholder="이메일">
        <input type="password" placeholder="비밀번호">
        <!-- 로그인 버튼 (a 태그로 바꿈) -->
        <a href="{% url 'main' %}" class="login-btn">로그인</a>

    </div>

<div class="container">
    <div class="belt belt1"></div>
    <div class="belt belt2 reverse"></div> <!-- reverse 클래스 추가 -->
    <div class="belt belt3"></div>
    <div class="belt belt4 reverse"></div> <!-- reverse 클래스 추가 -->
    <div class="belt belt5"></div>
</div>

</body>
</html>
