<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/koreanfood.css">
        <script src="https://kit.fontawesome.com/kit_code.js" crossorigin="anonymous">
        </script>
        <title>Nav Bar</title>
    </head>

    <body>
        <div class="main_top">
            <div class="logo">
                <a><img src="../../static/img/logo.png"></a>
            </div>
            <div class="icons">
                <a><img src="../../static/img/loginiconpng.png"></a>
                <a><img src="../../static/img/plusicon.png"></a>
            </div>
        </div>
        <nav class="navbar">
            <div class="navbar__logo">
                <i class="fas fa-blog"></i>
                <a href="">RECIPE</a>
            </div>
            <ul class="navbar__menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">한식</a></li>
                <li><a href="#">중식</a></li>
                <li><a href="#">일식</a></li>
                <li><a href="#">양식</a></li>
                <li><a href="#">디저트</a></li>
            </ul>
            <ul class="navbar__icons">
                <li><i class="fab fa-google"></i></li>
                <li><i class="fab fa-slack"></i></li>
            </ul>
        </nav>
        <div class="main_middle">
            <div class="">

            </div>
            <ul>
            {% for recipe in recipes %}
                <li>
                    <h2>{{ recipe.rec_name }}</h2>
                    <p>{{ recipe.rec_descrip }}</p>
                    <p>{{ recipe.rec_detail }}</p>
                    <img src="{{ recipe.rec_img.url }}" alt="{{ recipe.rec_name }}" width="300">
                </li>

            {% endfor %}
        </ul>
        </div>
    </body>
</html>