<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의레시피: 메인</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/main.css">

</head>

<body>
    <!-- 로그아웃 버튼 (a 태그로) -->
    <a href="{% url 'home' %}" class="back-button">로그아웃하기</a>
    <h1>오늘의 레시피는?</h1>
    <div class="grid">
        <a href="" class="category-link">
            <div class="category"><img src="https://nicholas-olsen.github.io/Todays-Best-Recipe/images/food_KOR2.png" alt="한식"><p>한식</p></div>
        <a href="" class="category-link">
            <div class="category"><img src="https://nicholas-olsen.github.io/Todays-Best-Recipe/images/food_CN2.png" alt="중식"><p>중식</p></div>
        <a href="" class="category-link">
            <div class="category"><img src="https://nicholas-olsen.github.io/Todays-Best-Recipe/images/food_Wes2.png" alt="양식"><p>양식</p></div>

        <a href="" class="category-link">
            <div class="category"><img src="https://nicholas-olsen.github.io/Todays-Best-Recipe/images/food_JP2.png" alt="일식"><p>일식</p></div>

        <a href="" class="category-link">
            <div class="category"><img src="https://nicholas-olsen.github.io/Todays-Best-Recipe/images/food_Dessert2.png" alt="디저트"><p>디저트</p></div>

        <!-- 추천 카테고리>> recommendation.html로 이동 -->
        <a href="recommend.html" class="category-link">
            <div class="category"><img src="https://nicholas-olsen.github.io/Todays-Best-Recipe/images/food_+.png" alt="추천"><p>추천</p></div>
        </a>
        </div>
            
        <div class="container">
            <div class="belt belt1"></div>
            <div class="belt belt2 reverse"></div> <!-- reverse 클래스 추가 -->
            <div class="belt belt3"></div>
            <div class="belt belt4 reverse"></div> <!-- reverse 클래스 추가 -->
            <div class="belt belt5"></div>
        </div>

</body>
</html>