<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의레시피: 회원가입</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>
    <!-- 로그인 화면으로 돌아가기 버튼 -->
    <a href="{% url 'home' %}" class="back-btn">로그인 화면으로 돌아가기</a>

    <h1>회원 가입</h1>
    <div class="signup-box">
        <div class="input-group">
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" placeholder="닉네임">
        </div>

        <div class="input-group">
            <label for="email">이메일</label>
            <input type="email" id="email" placeholder="이메일">
        </div>

        <div class="input-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" placeholder="비밀번호">
        </div>

        <div class="input-group">
            <label for="confirm-password">     </label>
            <input type="password" id="confirm-password" placeholder="비밀번호 확인">
        </div>

        <!-- 등록 a 태그 -->
        <a href="#" class="submit-btn">등록</a>
    </div>

    <div class="container">
        <div class="belt belt1"></div>
        <div class="belt belt2 reverse"></div> <!-- reverse 클래스 추가 -->
        <div class="belt belt3"></div>
        <div class="belt belt4 reverse"></div> <!-- reverse 클래스 추가 -->
        <div class="belt belt5"></div>
    </div>

</body>
</html>